#root {
    width: 100vw;

    .header {
        width: 100%;
        top: 0;
        position: absolute;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;

            li {
                margin-right: 15px;
            }
        }
    }
}